@media (max-width: 1280px) {

    /* Navbar */
      .content__navbar {
        left: 60%;
      }
  
    /* Contacto */
      .numero_contacto {
        font-size: 150%;
        top: 35%; left: 3%;
      }
  
    /* Aplicaciones media */
      .media_footer {
        left: 60%;
        bottom: 25%;
      }
  
    }

   /* ---------------RESOLUCION 1024px--------------- */

  @media (max-width: 1024px) {

    /* Navbar */
      .content__navbar {
        left: 75%;
      }
  
    /* Titulo */
      .h1 {
        font-size: 450%;
        max-width: 450px;
      }
  
    /* Contacto */
      .numero_contacto {
        font-size: 130%;
        top: 37%; left: 3%;
      }
  
      .menu__title {
        font-size: 200%;
      }

      .card {
        width: 80%;
        height: 100%;
      }

      .card img {
        width: 100%;
        height: 200px;
      }

      .card h3 {
        font-size: 150%;
      }
    
      .card p {
        font-size: 110%;
      }
      
      .card a {
        font-size: 100%;
      }

    /* Texto footer */
      .texto_footer {
        max-width: 50%;
        top: 30%;
        margin-left: 5%;
      }
  
    /* Aplicaciones media */
      .media_footer {
          left: 50%;
          bottom: 35%;
      }
  
    }

   /* ---------------RESOLUCION 990px--------------- */

  @media (max-width: 990px) {

    /* Navbar */
      .content__navbar {
        left: 60%;
      }
  
    /* Titulo */
      .h1 {
        top: 65%; left: 37%;
      }
  
      .container {
          max-width: 660px;
      }
  
      .menu__title {
        font-size: 200%;
      }

    /* Texto footer */
      .texto_footer {
        max-width: 90%;
      }
  
    /* Aplicaciones media */
      .media_footer {
        display: none;
      }
  
    }

  /* ---------------RESOLUCION 768px--------------- */

  @media (max-width: 768px) {

    /* Navbar */
    .content__navbar {
      left: 40%;
    }

    /* Titulo */
    .h1 {
      font-size: 400%;
      top: 68%; 
    }

    /* Contacto */
    .numero_contacto {
      top: 38%;
    }

    /* Aplicaciones media */
    .media_footer {
      display: none;
    }

   }

/* ---------------RESOLUCION 425px--------------- */

  @media (max-width: 425px) {

  /* Navbar */
    .content__navbar {
      left: -7%;
      font-size: 70%;
    }

  /* Titulo */
    .h1 {
      font-size: 300%;
      top: 75%; left: 0%;
    }

  /* Contacto */
    .numero_contacto {
      display: none;
    }

  /* Grids y contenedores*/
    .menu__grid {
       grid-template-columns: 1fr;
     } 

    .container {
        max-width: 300px;
    }

  /* Texto footer */
    .texto_footer {
        font-size: 130%;
        max-width: 90%;
        top: 10%;
        margin-left: 5%;
    }

  /* Aplicaciones media */
    .media_footer {
      display: none;
    }

   }

   /* ---------------RESOLUCION 375px--------------- */

  @media (max-width: 375px) {

  /* Navbar */
    .content__navbar {
      left: -5%;
      font-size: 60%;
    }

  /* Contacto */
    .numero_contacto {
      display: none;
    }

  /* Texto footer */
    .texto_footer {
      font-size: 100%;
      max-width: 90%;
    }

  /* Aplicaciones media */
    .media_footer {
      display: none;
    }

   }

   /* ---------------RESOLUCION 320px--------------- */
  @media (max-width: 320px) {

    /* esto seria el boton del menu de hamburguesa */
    span{
        display: flex;
        font-size: 300%;
        flex-direction: row;
      }

    .content__navbar {
        display: none;
      }

    .h1 {
      font-size: 250%;
      text-align: center;
      top: 65%;
    }

    .numero_contacto {
      display: none;
    }

    .menu__title {
      font-size: 170%;
    }

    .container {
        max-width: 250px;
    }

      /* Aplicaciones media */
    .media_footer {
      display: none;
    }

   }